.title {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    margin:auto;
    padding: 90px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    
}
#first-name, #last-name, #email {width: 35%;
margin: 5px;
margin-left: 25px;
}
#city, #state, #zipcode {
    
}

h1 { 
    padding:100px;
    border: 2px solid black;
    margin: 100px;
    background-color: rgb(117, 117, 167);
}

form {
    background-color: rgb(25, 108, 152);
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
   
    }