div {
    background-color: midnightblue;
    width: 100px;
    height: 100px;
    margin: 200px auto;
    color: white;
    /* transform: rotate(45deg);
    transform: scale(3) rotate(45deg); */
   /* transform: matrix(scalex), (skewY), (skewX), scaleY, translateX, translateY */
    /* transform: matrix(2, 1, 1, 3, 70, 100); */
}


