.container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr 1fr .5fr;
    gap: 3vw;

}

#courses {
    grid-area: 2/2/3/3;
}

#struggle {
    grid-area: 1/1/2/2;
}

#solution {
    grid-area: 1/2/2/3;
}

#skills {
    grid-area: 2/1/3/2;
}

.life {
    grid-area: 1/3/2/4;
}

li {
    list-style-type: none;
}

h1 {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.2em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1em #F40;
    color: #ffe;
    font-size: 7vw;
    transform: translate(10 0);

}

h2 {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em rgb(200, 200, 255), 0.01em -0.05em 0.15em blue, 0.02em -0.15em 0.2em rgb(160, 160, 255), 0.04em -0.2em 0.3em rgb(120, 120, 255), 0.05em -0.25em 0.4em rgb(80, 80, 255), 0.06em -0.2em 0.9em rgb(40, 40, 255), 0.1em -0.1em 1em rgb(0, 0, 255);
    color: #ffe;
    font-size: 5vw;
}






body {
    background: linear-gradient(45deg,
            yellow, green, blue);
    background-attachment: fixed;
    background-repeat: no-repeat;
}



img, p {
    width: 40vw;
}


button {
    display: block;
    width: 10.5vw;
    height: 6vh;
    margin: .3em;
    background-color: yellow;
    color: rgb(47, 167, 232)
    
}

.nav {
    position: fixed;
    grid-area: 1/3/4/4;
    
}


button:hover {
    transform: scale(1.25);
    background-color: rgb(234, 0, 255);
    color: white;
    transition-duration: 1s;
    transition-property:  color, background, transform;
}

    


@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: 1fr .5fr;
        gap: 15px;

    }

    #courses {
        grid-area: 4/1/5/2;
    }

    #struggle {
        grid-area: 1/1/2/2;
    }

    #solution {
        grid-area: 2/1/3/2;
    }

    #skills {
        grid-area: 3/1/4/2;
    }

    .nav {
        position: fixed;
        
        grid-area: 1/2/4/3;
    }
    img, p {
        width: 60vw;
    }

    button {
        display: block;
        width: 17vw;
    }
}